
/********* FadeOute *********/
@-webkit-keyframes  fadeOute{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes  fadeOute{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes  fadeOute{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOute{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/****** FadeIn *********/

@-webkit-keyframes  FadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes  FadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes  FadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/****** *************/

// scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from    { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/******************/


@keyframes animatedBackground {
	0% { background-position: 0px; }
	100% { background-position: 1920px; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0px; }
	100% { background-position: 1920px; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0px; }
	100% { background-position: 1920px; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0px; }
	100% { background-position: 1920px; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0px; }
	100% { background-position: 1920px; }
}



/****************************************************/


@-webkit-keyframes fading {
	0% {opacity: 0;}
	50% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}

@-moz-keyframes fading {
	0% {opacity: 0;}
	50% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}

@-o-keyframes fading {
	0% {opacity: 0;}
	50% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes fading {
	0% {opacity: 0;}
	50% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}

/**********Animación de pagina Principal*************/

@-webkit-keyframes SCROLL {
	from {
		background-position: 0px 0px, 0px 0px
	}
	to { 
		background-position: 471px 0px, 0px 0px
	}
}
