/********* FadeOute *********/
@-webkit-keyframes fadeOute {
  /* line 4, ../sass/effects.scss */
  0% {
    opacity: 1;
  }

  /* line 5, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOute {
  /* line 8, ../sass/effects.scss */
  0% {
    opacity: 1;
  }

  /* line 9, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOute {
  /* line 12, ../sass/effects.scss */
  0% {
    opacity: 1;
  }

  /* line 13, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
@keyframes fadeOute {
  /* line 16, ../sass/effects.scss */
  0% {
    opacity: 1;
  }

  /* line 17, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
/****** FadeIn *********/
@-webkit-keyframes FadeIn {
  /* line 23, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 24, ../sass/effects.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes FadeIn {
  /* line 27, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 28, ../sass/effects.scss */
  100% {
    opacity: 1;
  }
}
@-o-keyframes FadeIn {
  /* line 31, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 32, ../sass/effects.scss */
  100% {
    opacity: 1;
  }
}
@keyframes FadeIn {
  /* line 35, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 36, ../sass/effects.scss */
  100% {
    opacity: 1;
  }
}
/****** *************/
@keyframes scaleUp {
  /* line 43, ../sass/effects.scss */
  from {
    opacity: 0.3;
    transform: scale(0.8);
  }
}
@-moz-keyframes scaleUp {
  /* line 46, ../sass/effects.scss */
  from {
    opacity: 0.3;
    -moz-transform: scale(0.8);
  }
}
@-webkit-keyframes scaleUp {
  /* line 49, ../sass/effects.scss */
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
/******************/
@keyframes animatedBackground {
  /* line 56, ../sass/effects.scss */
  0% {
    background-position: 0px;
  }

  /* line 57, ../sass/effects.scss */
  100% {
    background-position: 1920px;
  }
}
@-moz-keyframes animatedBackground {
  /* line 60, ../sass/effects.scss */
  0% {
    background-position: 0px;
  }

  /* line 61, ../sass/effects.scss */
  100% {
    background-position: 1920px;
  }
}
@-webkit-keyframes animatedBackground {
  /* line 64, ../sass/effects.scss */
  0% {
    background-position: 0px;
  }

  /* line 65, ../sass/effects.scss */
  100% {
    background-position: 1920px;
  }
}
@-ms-keyframes animatedBackground {
  /* line 68, ../sass/effects.scss */
  0% {
    background-position: 0px;
  }

  /* line 69, ../sass/effects.scss */
  100% {
    background-position: 1920px;
  }
}
@-o-keyframes animatedBackground {
  /* line 72, ../sass/effects.scss */
  0% {
    background-position: 0px;
  }

  /* line 73, ../sass/effects.scss */
  100% {
    background-position: 1920px;
  }
}
/****************************************************/
@-webkit-keyframes fading {
  /* line 82, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 83, ../sass/effects.scss */
  50% {
    opacity: 1;
  }

  /* line 84, ../sass/effects.scss */
  80% {
    opacity: 0;
  }

  /* line 85, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fading {
  /* line 89, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 90, ../sass/effects.scss */
  50% {
    opacity: 1;
  }

  /* line 91, ../sass/effects.scss */
  80% {
    opacity: 0;
  }

  /* line 92, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
@-o-keyframes fading {
  /* line 96, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 97, ../sass/effects.scss */
  50% {
    opacity: 1;
  }

  /* line 98, ../sass/effects.scss */
  80% {
    opacity: 0;
  }

  /* line 99, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
@keyframes fading {
  /* line 103, ../sass/effects.scss */
  0% {
    opacity: 0;
  }

  /* line 104, ../sass/effects.scss */
  50% {
    opacity: 1;
  }

  /* line 105, ../sass/effects.scss */
  80% {
    opacity: 0;
  }

  /* line 106, ../sass/effects.scss */
  100% {
    opacity: 0;
  }
}
/********************************************/
